.main {
  margin-top: 20px;
}

.mainContent {
  display: flex;
  border-bottom: 1px solid white;
}

.highlight {
  flex: 0.25;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin-right: 20px;
}
.titleMain {
  font-size: 100px;
  font-weight: 600;
}

.itemNumber {
  font-size: 20px;
}
.selectedNft {
  object-fit: contain;
  max-width: min(30vw, 40vh);
  max-height: 30vw;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.75;
}

.image {
  height: 50px;
  border-radius: 25px;
}

.link {
  display: flex;
  height: 30px;
}

.ownerDetails {
  display: flex;
}
